# Игнорировать виртуальное окружение
.venv/

# Игнорировать IDE настройки
.idea/

# Игнорировать кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать модели/данные (если не нужны в репозитории)
*.pt
*.h5

# Игнорировать системные файлы
.DS_Store
Thumbs.db